:root {
    --white: #FFFFFF;
    --dark: #212121;
    --primary: #FFC107;   
    --secondary: #0097A7;
    --gray: #757575;
    --ligthGray: #DFE9F3;
}
/* Globales */
html {
    font-size: 62.5%;
    box-sizing: border-box; /*Hack para box model */
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-size: 1.6rem; /* 1rem = 10px*/
    font-family: 'Krub', sans-serif;
    background-image: linear-gradient(to top, var(--ligthGray) 0%, var(--white) 100%);
}
.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}
.boton {
    background-color: var(--secondary);
    color: var(--white);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: .5rem;
    width: 80%;
    text-align: center;
}
@media (width >= 780px) {
    .boton {
        width: auto;
    }
}
.sombra{
    -webkit-box-shadow: 0px 5px 5px 0px rgba(112,112,112,0.53);
    -moz-box-shadow: 0px 5px 5px 0px rgba(112,112,112,0.53);
    box-shadow: 0px 5px 5px 0px rgba(112,112,112,0.53);
    padding: 2rem;
    border-radius: .5rem;
}
/* Tipografia */
h1 {    
    font-size: 3.8rem;
}
h2 {
    font-size: 2.8rem;
}
h3 {
    font-size: 1.8rem;
}
h1,h2,h3 {
    text-align: center;
}

/* Navegación principal */
.nav-bg {
    background-color: var(--secondary);
}
.nav-principal {    
    display: flex;
    flex-direction: column;
}
@media (width >= 768px) {
    .nav-principal {
        flex-direction: row;
        justify-content: space-between;        
    }
}
.nav-principal a {
    color: var(--white);
    text-align: center;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
}
.nav-principal a:hover {
    background-color: var(--primary);
    color: var(--dark);
}

/* Hero */
.hero {
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: calc(100% - 20%);
    height: 50rem;    
    position: relative;
    margin-bottom: 2rem;
}
.contenido-hero {
    position: absolute;
    background-color: rgba(0,0,0,.7); /*Anterior*/
    background-color: rgb(0 0 0 / 70%);
    width: 100%;
    height: 100%;
    /*Centrar un div*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contenido-hero h2,
.contenido-hero p {
    color: var(--white);
}
.ubicacion {
    display: flex;
    align-items: flex-end;
}

/* Servicios */
@media (width >= 768px) {
    .servicios {
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        column-gap: 1rem;  
    }
}
.servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.servicio h3 {
    color: var(--secondary);
    font-weight: 400;
}
.servicio p {
    line-height: 2;
    text-align: center;
}
.servicio .iconos {
    height: 15rem;
    width: 15rem;
    background-color: var(--primary);
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
